/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
liblwjgl.jnilib
src/minebot_clj/environment.clj
src/minebot_clj/environment.cljs
src/minebot_clj/evaluable.clj
src/minebot_clj/evaluable.cljs
profiles.clj
.lein-env
todo.org